.App {
  display: flex;
}

.App #deckgl-wrapper {
  width: 70% !important;
  height: 100vh !important;
  position: relative !important;
}

.side-tab {
  width: 30%;
  height: 100vh;
  border-radius: 5px;
  
  box-shadow: 0px 0px 0.5rem rgb(94, 94, 94);
  
  /* position: absolute;
  left:0;
  top: 0;
  margin:10px; */
  z-index: 2;
  background-color: white;
}

.side-tab .header-section {
  padding:0.5rem;
  background-color: blueviolet;
  color:white;
}

.side-tab .body {
  padding:0.5rem 1rem;
}


.layer-toggler {
  display: flex;

  width: 90%;
  margin: 10px auto;
}

.layer-toggler .toggle-btn {
  background-color: #ddd;
  padding:0.375rem 0.5rem;
  flex: 1;
  cursor: pointer;
  /* margin-left: 5px; */
}

.layer-toggler .toggle-btn:first-child {
  border-right: 1.5px solid #fff;
}

.toggle-btn.active {
  background-color: rgb(118, 72, 72);
  color:#fff;
}

.input-div {
  margin-top: 4px;
}